.banner{
    margin-top: -16px;  
}
.news{
    background: #ADD8E6;
    h4{
        padding:10px;    }
    marquee{
        color: #404040;
        font-size: 16px;
        font-weight: 500;
        padding:10px;
    }
}